@import 'src/styles/variables';
@import 'src/styles/mixins';

.wrapper {
    @include flex-space-btw;
    margin-bottom: 5px;

    .btn {
        @include inline-flex-center;
        text-decoration: none;
        background-color: #0693e3;
        color: #fff;
        border: 2px solid;
        border-color: #0693e3;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        padding: 5px;

        font: {
            family: 'Roboto';
            weight: 400;
        }
    }

    .btn:hover {
        background-color: #fff;
        color: #0693e3;
    }

    a {
        text-decoration: none;
        color: inherit;

        .ksaText {
            color: #014972;
        }

        .solutionsText {
            color: #65c4fc;
            font: {
                size: 12px;
            }
        }
    }
}