@import 'src/styles/variables';
@import 'src/styles/mixins';

.wrapper {
    width: 99%;
    margin: auto;
    .orderDataBox {
        @include flex-center;
        border: 2px solid $border-color-main;
        box-shadow: $box-shadow-main;
        border-radius: 5px;
        padding: 10px;

        span {
            @include in-line-block-center;
            margin-left: 10px;
            margin-bottom: 2px;
            border-radius: 5px;
            padding: 3px;
            background-color: #0693e3;
            color: #fff;
        }
    }
}