@import 'mixins';
@import 'variables';

html,
body {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;

    body {
        height: 100%;
    }
}

.wrapper {
    .home-nav {
        background-color: aqua;
    }
}