@import 'src/styles/variables';
@import 'src/styles/mixins';

.wrapper {
   width: 99%;
   margin: auto;

   .userList,
   .addUserFormBox {
      border: 2px solid $border-color-main;
      box-shadow: $box-shadow-main;
      border-radius: 5px;
      margin-bottom: 5px
   }

   .addUserFormBox {
      @include flex-center;
      @include flex-column;

      .formContent {
         margin-bottom: 10px;

         label {
            margin-right: 5px;
            margin-left: 5px;
         }

         .btn {
            background-color: #0693e3;
            color: #fff;
            border: 1px solid;
            border-color: #0693e3;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            padding: 5px;
            margin-left: 5px;

            font: {
               family: 'Roboto';
               size: 10px;
            }

         }

         .btn:hover {
            background-color: #fff;
            color: #0693e3;
         }
      }
   }

   .userList {
      @include flex-column;
      align-items: center;

      table {
         width: 100%;
      }

      tr:hover {
         background-color: #0693e3;
      }

      th,
      td {
         border: 1px solid #ddd;
         padding: 8px;
         text-align: left;
      }
   }

}